body{
    background-color: rgb(195, 237, 255);
}

.titulo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
h1{
    font-size: 6rem;
    color: rgb(78, 111, 245);
}

.btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(98, 207, 116);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 3px 5px 1px  black;
    
}

button:hover{
    background-color: rgb(209, 144, 3);
}

.txtLista{
    display: grid;
    grid-template-columns:  repeat(3 , 1fr);    
    gap: 10px;
    padding: 0;
    font-size: 2rem;
    list-style: none;
    border-color: blueviolet;
    row-gap: 10px;

}

li{
    border: 2px solid rgb(30, 132, 210);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;

}